body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
}

.wrapper {
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
  text-align: left;
}

input[type="text"],
input[type="file"],
input[type="number"],
select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#designation {
  width: 100%;
  outline: none;
  color: rgba(128, 128, 128, 0.811);
  letter-spacing: .3px;
}
#designation:focus {
  outline: none;
}

#designation option {
  border: none;
  font-size: 0.8rem;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #fff;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

input::placeholder {
  color: #aaa;
}

#error-message {
  padding-top: 1rem;
  color: red;
}

select {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  appearance: none; /* Remove default arrow */
  -webkit-appearance: none; /* Remove default arrow in Safari */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  cursor: pointer;
}

/* Style the options */
option {
  padding: 12px;
  background-color: #fff;
  color: #333;
}

/* Custom scrollbar for the dropdown options (Webkit browsers) */
select::-webkit-scrollbar {
  width: 8px;
}

select::-webkit-scrollbar-track {
  background: #f1f1f1;
}

select::-webkit-scrollbar-thumb {
  background: #888;
}

select::-webkit-scrollbar-thumb:hover {
  background: #555;
}
